In [2]:
import pandas as pd

csv_path = "vine_table.csv"

vine_df = pd.read_csv(csv_path, encoding="utf-8")
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RTIS3L2M1F5SM,5,0,0,N,Y
1,R1ZV7R40OLHKD,5,0,0,N,Y
2,R3BH071QLH8QMC,1,0,1,N,Y
3,R127K9NTSXA2YH,3,0,0,N,Y
4,R32ZWUXDJPW27Q,4,0,0,N,Y

In [3]:
total_votes_df = vine_df.loc[vine_df['total_votes'] >= 20]
total_votes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
289,R3EZ0EPYLDA34S,1,14,31,N,Y
483,R2FJ94555FZH32,2,55,60,N,N

In [8]:
helpful_df = total_votes_df[total_votes_df.apply(lambda row: (row['helpful_votes']/row['total_votes']) >= 0.5, axis=1)]
helpful_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
537,R1U3AR67RE273L,1,51,65,N,Y

In [33]:
paid_df = helpful_df.loc[helpful_df['vine'] == 'Y']
paid_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
32611,R3KKUSGFZWSUIY,5,56,63,Y,N
33112,R10FO5UKKVZBK2,3,23,23,Y,N
69680,RM4KSGEOR7MU1,5,19,24,Y,N
155361,RG7VRMYLEXD23,4,22,26,Y,N
239327,R11O4YSCPSNL6L,3,20,26,Y,N

In [35]:
unpaid_df = helpful_df.loc[helpful_df['vine'] == 'N']
unpaid_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
537,R1U3AR67RE273L,1,51,65,N,Y

In [26]:
total_paid = paid_df['review_id'].count()
total_paid

94

In [42]:
paid_5star_counts = paid_df['star_rating'].value_counts()
paid_5star_counts

5    48
4    24
3    16
2     5
1     1
Name: star_rating, dtype: int64

In [43]:
paid_5star = paid_df['star_rating'].loc[paid_df['star_rating'] == 5 ].count()
paid_5star

48

In [44]:
paid_5star_percent = paid_5star/total_paid
paid_5star_percent

0.5106382978723404

In [45]:
total_unpaid = unpaid_df['review_id'].count()
total_unpaid

40471

In [46]:
unpaid_5star_counts = unpaid_df['star_rating'].value_counts()
unpaid_5star_counts

5    15663
1    10303
4     6738
3     4379
2     3388
Name: star_rating, dtype: int64

In [47]:
unpaid_5star = unpaid_df['star_rating'].loc[unpaid_df['star_rating'] == 5 ].count()
unpaid_5star

15663

In [31]:
unpaid_5star_percent = unpaid_5star/total_unpaid
unpaid_5star_percent

0.38701786464381904

In [38]:
vine_df['star_rating'].value_counts()

5    1026924
4     318246
1     192166
3     153864
2      94797
Name: star_rating, dtype: int64